

@keyframes aside {
 
    0%{

        opacity: 0;
    }

    100%{
        opacity: 1;
    }

}

@keyframes ani_text_aside{

    0%{
        opacity: 0;
        left: 0%;
       
    }

    100%{

        opacity: 1;
        left: 9%;
        
    }
}

.text_aside{

    //animation-name: aside;

    //animation-duration: 6s;

    
    position: relative;
    top: 1%;
    left: 9%;
    width: 83%;


}

aside {
    color: white;
    background-color: #262626;
    width: 18vw;
    height: 100%;
    margin-top: 0%;

}

.aside_link{

    font-family: 'Open Sans', sans-serif;
font-size: 14px;



}