$backbground: #171c2c;;

$header_color: #394c72;

$header_categorie:#232d5a;

$color_title: #798DAE;

$color_liste_post : rgb(11.8,14.1,23.8);

$color_post_acceuil: #1e243d;

$color_border : #232d5a;

$grey : #dddddd;