.front_page_liste_post{

    position: relative;
    top: 7vh;
}

.titre_front_page{

    color: white;
    position: relative;
    top: 9vh;
    left: 14vw;

}

.main_titre_front_page{

    color: #798DAE;
    font-family: "Gafata",Sans-serif;
    font-size: 38px;
    font-weight: 100;
    letter-spacing: 7.4px;
}