header{

    text-transform: uppercase;
    font-family: 'Pangolin', sans-serif;
    font-weight: bold;
    background-color: $header_color;
    display: flex;
    color: white;
    width: $main_width;
    position: fixed;
    top:0%;
    left: 5%;
    height: 7vh;
    z-index: 1;
   
}

@keyframes customAnimation {
    

    0%{
        background-color: rgba(0, 0, 0, 0); 
    }

    100% {
        width: 25vw;
        left: 40%;
    }

}

.header-animation {
    animation: customAnimation 0.8s ease-in-out ;
}

.box_link_header-hidden {
    display: none;
}


.a_header{
    color:white;

    &:hover{
        cursor: pointer;
        padding-top: 10px;
        border-top: 1px solid $color_border;
    }
}

.border_header{

    &:hover{
        border-top: 1px solid $color_border;
    }

}

#categoryDropdown
{
    display: none;
    z-index: 1;
    background-color: $header_color;
    padding-left: 16%;
    padding-bottom: 10%;

}


.main_header_picture{

    color: white;
    background-color: red;
    width: $main_width;
    position: relative;
    left: $left_header;
    z-index: -1;

}



.div_box{
    position: relative;
    top: 3vh;

}

.div_box_logo{
    position: relative;
    top: 1vh;
    left: 1vw;
}

.box_link_header {
    position: relative;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    /* Initiallement, l'élément est transparent */
   
}




.div_cat{

 &:hover{

    background-color: $grey;
    width: 100%;

 }
 
 .link_cat{

    text-decoration: none;

    color:white;
    
    
    &:hover{

    color:$color_border;
    cursor: pointer;

    }
 }

}

 #menu_profil {

    display: none;
    z-index: 1;
    background-color: $header_color;
    padding-left: 16%;
    padding-bottom: 10%;
    width: 11vw;
 
}
